html body {
    font-family: 'Black Ops One', Arial, sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.game-board {
    aspect-ratio: 1 / 1; /* Keeps the board square */
}
.game-board table {     /* Stops the grid from shrinking and expanding as you resize the window */
    width: 100%;
    height: 100%;
}
.game-board button {    /* Sets the width and height of the button to the size of it's container */
    width: 100%;   
    height: 100%;
}
.game-board .hover-shadow {     /* Show when something is being dragged over the board */
    background-color: darkgrey;
}
.game-board td,         /* Table cells */
.game-board th {        /* Specifically a header (the A to J and 1 to 10) */
    padding: 0;     /* Prevents the buttons from looking smaller than the cells */
    width: calc(100% / (var(--grid-size) + 2));     /* How tall the cells will be (+2 for header rows/columns) */
    height: calc(100% / (var(--grid-size) + 2));    /* How wide the cells will be (+2 for header rows/columns) */
    vertical-align: middle;     /* To make all the letters and numbers aligned vertically */
    text-align: center;         /* To make all the letters and numbers aligned horizontally */
    /* These two make everything middle-middle */
}
.unit-image {
    display: block;
    margin: 0 auto;
    width: calc(var(--unit-length) * (100% / (var(--grid-size) + 2)));
    height: auto;
}
.unit-drag-image {
    width: calc(var(--unit-length) * var(--cell-size));
    height: auto;
}
#units label {
    display: block;
    padding: 10px;
    cursor: pointer;
}
#units label span {
    display: block;
    text-align: center;
}
.game-board.setup button {
    position: relative;
    overflow: visible;
}
.placed-unit-image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--unit-length) * 100%);
    height: calc(var(--unit-width) * 100%);
    pointer-events: none;
    z-index: 1;
}
.rotated {
    transform: rotate(90deg);
    transform-origin: top left;
    translate: calc(var(--unit-width) * var(--cell-size)) 0;
}
